.users__outer{
    width:100%;
    height:fit-content;
    margin-top: 1rem;
}

.users__inner{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.users__inner__left{
    width:40%;
    height:fit-content;
}
.users__inner__left__heading{
    width:100%;
    height:fit-content;
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 28px;
    font-weight: 800;
}


.users__inner__right{
    width:40%;
    height:30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.users__inner__left__display{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    
}
.users__inner__left__display__each{
    width:400px;
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:2px solid black;
    margin-bottom: 1rem;
}
.users__inner__left__display__each__sno{
    width:fit-content;
    height: fit-content;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
}

@media screen and (max-width:1096px)
{
    .users__inner{
        width:100%;
        height:fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}




@media screen and (max-width:792px)
{
    .users__inner__left__heading{
        font-size: 20px;
        font-weight: 800;
    }
    .users__inner{
        flex-wrap: wrap;
    }
    .users__inner__left{
        width:400px;
    }
    .users__inner__right{
        width:90%;
    }
}



@media screen and (max-width:415px)
{
    .users__inner__left{
        width:290px;
    }
    .users__inner__right{
        width:90%;
    }
}
