.banner__outer{
    width:100%;
    height:80vh;
}
.banner__inner{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: -10rem -10rem;
    background-size: 53rem;
    background-image: url(./../../assets/images/blob2.svg);
}

.banner__left{
    width:35%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    margin-right: 1rem;
}
.banner__left__top{
    width:100%;
    height:fit-content;
    padding: 1rem;
}
.banner__left__mid{
    width:100%;
    height:fit-content;
    padding: 1rem;
    font-size: 12px;
    color:grey
}
.banner__left__bottom{
    width:100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.banner__left__bottom__button{
    width:fit-content;
    height:fit-content;
    padding: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border:2px solid black;
    font-size: 14px;
    margin-right: 2rem;
    cursor: pointer;
    color:black;
    text-decoration: none;
}
.banner__left__bottom__button:hover{
    background-color: black;
    transition-duration: 0.6s;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banner__right{
    width:40%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




@media screen and (max-width:1450px)
{
    .banner__inner{
        background-position: 0rem 0rem;
        background-size: 40rem;
    }
}

@media screen and (max-width:1155px)
{
    .banner__outer{
        width:100%;
        height:30rem;
    }
    .banner__inner{
        background-position: 2rem -5rem;
        background-size: 35rem;
    }
    .banner__right{
        width:30%;
    }
    .banner__left{
        width:30%;
        font-size: 30px;
        font-weight: 700;
        margin-right: 0.4rem;
    }
}

@media screen and (max-width:1110px)
{
    .banner__outer{
        width:100%;
        height:25rem;
    }
    .banner__inner{
        background-position: -5rem -5rem;
        background-size: 35rem;
        justify-content: space-around;
    }
    .banner__right{
        width:40%;
    }
    .banner__left{
        width:40%;
        font-size: 30px;
        font-weight: 700;
        margin-right: 0.4rem;
    }
}

@media screen and (max-width:768px)
{
    .banner__outer{
        width:100%;
        height:fit-content;
    }
    .banner__inner{
        background-position: -15rem -15rem;
        background-size: 40rem;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .banner__right{
        width:400px;
        height:400px;
    }
    .banner__left{
        width:500px;
        font-size: 30px;
        font-weight: 700;
        margin-right: 0.4rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
}



@media screen and (max-width:693px)
{
    .banner__inner{
        background-position: -20rem -20rem;
        background-size: 45rem;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .banner__right{
        width:300px;
        height:300px;
    }
    .banner__left{
        width:60%;
        font-size: 30px;
        font-weight: 700;
        margin-right: 0.4rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
}

@media screen and (max-width:450px)
{
    .banner__inner{
        background-position: -20rem -20rem;
        background-size: 45rem;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .banner__right{
        width:250px;
        height:250px;
    }
    .banner__left{
        width:90%;
        font-size: 30px;
        font-weight: 700;
        margin-right: 0.4rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
}

